/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Variables and default styles*/
:root {
  --headline-font: "Raleway", sans-serif;
  --body-font: "Montserrat", sans-serif;
  --small-text: 1em;
  --medium-text: 1.1em;
  --medium-large-text: 1.5em;
  --large-text: 2em;
  --x-large-text: 2.5em;
  --blue: #4a90e2;
  --grey: #f2f2f2;
  --yellow: #febe00;
  --default-color: #000;
  --light-font: lighter;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: var(--default-color);
  font-family: var(--body-font);
  margin: 0px;
  text-align: center;
  font-size: var(--small-text);
  /* width: 100%; */
  margin: 0 auto;
}

.fa, .fas {
  font-weight: 900;
  font-size: var(--medium-text);
}

a {
  color: var(--default-color);
  text-decoration: none;
}

h2 {
  font-size: var(--medium-large-text);
}

h3 {
  font-size: var(--medium-text);
}

.accent-color {
  color: var(--blue);
}

/* Header styles */
header {
  font-family: var(--headline-font);
  padding: 12px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 60px;
}

.home {
  font-size: var(--large-text);
}

.page-sections {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.page-sections a:hover {
  color: var(--blue);
}

.hamburger-icon {
  display: none;
}

/* Section: top styles */

.top {
  margin: 7em 0;
}

h1 {
  font-size: var(--x-large-text);
  font-family: var(--headline-font);
  font-weight: lighter;
}

.subtitle {
  font-size: var(--medium-large-text);
  font-family: var(--headline-font);
}

/* Section: projects styles */

.project-grid {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 90%;
}

.project {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.project-image {
  width: 100%;
  border-radius: 10px;
}

.project-button {
  background-color: var(--grey);
  border: none;
  border-radius: 10px;
  color: #000;
  /* width: 48%; */
  padding: 10px 0;
  margin: 3% 0;
  font-size: var(--medium-text);
}

.project-button--third-width {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.project-button--half-width {
  width: 48%;
}

.project-button--full-width {
  width: 100%;
}

.project-button:hover {
  background-color: var(--blue);
  color: #fff;
}

/* Section: Tools styles */

.logo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo-card {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--grey);
  border-radius: 10px;
  margin: 5px;
}

.logo-img {
  width: 60%;
  margin: 0 auto;
  height: 60%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/* footer styles */
footer {
  background-color: var(--grey);
  padding: 50px 0;
  margin-top: 30px;
}

footer a:hover {
  color: var(--blue);
}

.footer-icon {
  font-size: 30px;
  margin: 5px;
}

/* Savvie case study styles */

.header-image {
  width: 100%;
  margin-top: 3em;
}

img {
  width: 100%;
}

.intro {
  text-align: left;
  /*  width: 50%; */
}

.case-study-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.case-study-grid__text,
.case-study-grid__image {
  width: 48%;
  padding: 2%;
}

.case-study-grid__full-width-element {
  padding: 2%;
}

.emphasis-shadow {
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.accent-color--savvie {
  color: var(--yellow);
}
strong {
  background-color: var(--yellow);
}

/* Property Hero Styles */
.accent-color--property-hero {
  color: #006aec;
}

@media (max-width: 1000px) {
  .project {
    margin: 0;
    width: 100%;
  }

  .case-study-grid__text,
  .case-study-grid__image {
    width: 100%;
    border-bottom: 1px solid var(--grey);
  }
}

@media (max-width: 1000px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    padding: 0 20px;
}

  .top {
    margin: 7em 0 0 0;
  }
  .hamburger-icon {
    display: block;
    z-index: 1;
    padding-right: 20px;
  }
  .page-sections {
    display: none;
  }
  .hamburger-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 0px;
    text-align: center;
    padding: 100px 0;
    margin: -20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 2;
}
  }
  /*   :root {
    --small-text: 1.1em;
  } */
  /*     .home {
      font-size: var(--medium-large-text);
    }
    h1 {
      font-size: var(--large-text);
    }
    .subtitle {
      font-size: var(--medium-text);
    } */
}
