/* Variables and default styles*/
:root {
  --headline-font: "Vidaloka", serif;
  --body-font: "Raleway", sans-serif;
  --small-text: 16px;
  --medium-text: 20px;
  --medium-large-text: 24px;
  --large-text: 30px;
  --x-large-text: 30px;
  --blue: #169df0;
  --blue--lighter: #72a9e8;
  --grey: #f2f2f2;
  --yellow: #febe00;
  --default-color: #000;
  --thin: 100;
  --extra-light-weight: 200;
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--default-color);
  font-family: var(--body-font);
  text-align: center;
  font-size: var(--small-text);
  /* width: 100%; */
  margin: 0 40px;
}

p {
  margin: 0;
}

p:not(:first-child) {
  margin-top: 10px;
}

.fa,
.fas {
  font-weight: 900;
  font-size: 30px;
}

i:first-child {
  margin-right: 10px;
}

a {
  color: var(--default-color);
  text-decoration: none;
}

h2,
.projects__title,
.tools__title {
  font-size: var(--medium-large-text);
  font-family: var(--headline-font);
  margin: 0 0 32px;
}

h3 {
  font-size: var(--medium-text);
  font-weight: var(--regular-weight);
}

.accent-color {
  color: var(--blue);
}

/* Header styles */
header {
  font-family: var(--headline-font);
  margin: 0 -40px 0;
  padding: 20px 40px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
}

.header__alina-home {
  font-size: var(--large-text);
  font-weight: var(--light-weight);
}

.header__page-sections {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  font-weight: var(--regular-weight);
}

.header__page-sections a:hover {
  color: var(--blue);
}

.header__hamburger-icon {
  display: none;
}

/* Section: top styles */

section {
  margin-top: 50px;
}

.headline__title {
  font-size: var(--large-text);
  font-family: var(--headline-font);
  padding: 40px 0 0 0;
  margin: 0;
}

.headline__subtitle {
  font-size: var(--medium-large-text);
  font-family: var(--headline-font);
  padding: 24px 0 30px;
  margin: 0;
}

/* Section: projects styles */

.projects__project-grid {
  margin: 0 auto;

  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  align-items: flex-start;
  width: 100%;
  text-align: left;
}

.projects__project {
  width: 30%;

  display: flex;

  flex-direction: column;

  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 12px 12px;

  align-items: flex-start;
}

.project__background {
  background-color: var(--grey);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
}

.project__image {
  max-width: 80%;
  max-height: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.project__link {
  color: var(--blue);

  margin-top: 10px;
  font-size: var(--small-text);

  font-weight: var(--regular-weight);
}

.project__link::after {
  content: "";
  display: block;

  border-bottom: solid 2px transparent;

  transition: width 0.5s linear;
  width: 0;
}

.project__link:hover::after {
  content: "";
  display: block;
  border-bottom: solid 2px var(--blue);
  width: 100%;
}

.project__name {
  font-family: var(--headline-font);
  font-size: var(--medium-large-text);
  margin: 20px 0 10px;
}

/* Section: Tools styles */

.tools {
  background-color: var(--blue);
  color: #fff;
  padding-bottom: 28px;
}

.tools__title {
  padding-top: 50px;
}

.tools__sub-title {
  font-size: var(--medium-text);
  margin: 0 0 24px;
  font-family: var(--headline-font);
}

.tools__logo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 32px;
}

.logo-card {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--grey);
  border-radius: 10px;
  margin: 5px;
}

.logo-grid__logo-img {
  max-width: 80px;
  margin: 0 24px;
  max-height: 80px;
}

/* about me */

.about-me {
  display: flex;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.about-me__img {
  max-width: 200px;
  margin-right: 32px;
}

.about-me__description {
  font-family: var(--headline-font);
  font-size: var(--medium-text);
  text-align: left;
}

/* footer styles */
footer {
  background-color: var(--grey);
  padding: 50px 0;
}

.footer__title {
  font-size: var(--medium-text);
  margin-bottom: 20px;
}

footer a:hover {
  color: var(--blue);
}

.footer__icon-container {
  margin-top: 24px;
}

/* Savvie case study styles */

.header-image {
  width: 100%;
  margin-top: 3em;
}

.intro {
  text-align: left;
  font-weight: var(--light-weight);
  /*  width: 50%; */
}

.case-study-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: var(--light-weight);
}

.case-study-grid__text,
.case-study-grid__image {
  width: 48%;
  padding: 2%;
}

.case-study-grid__full-width-element {
  padding: 2%;
}

.emphasis-shadow {
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.accent-color--savvie {
  color: var(--yellow);
  font-weight: var(--medium-weight);
}
strong {
  background-color: var(--yellow);
}

/* Property Hero Styles */
.accent-color--property-hero {
  color: #006aec;
  font-weight: var(--medium-weight);
}

@media (max-width: 1000px) {
  body {
    margin: 0 10px;
  }
  main {
    padding: 0;
  }
  nav {
    padding: 0;
  }
  .projects__project-grid {
    width: 100%;
  }

  .projects__project {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .project__background {
    height: 40vw;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0;
    margin: 0;
  }

  .header__hamburger-icon {
    display: block;
    z-index: 1;
    padding-right: 20px;
  }
  .header__page-sections {
    display: none;
  }
  .hamburger-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 0px;
    text-align: center;
    padding: 100px 0;
    margin: -10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 2;
  }
}
/*   :root {
    --small-text: 1.1em;
  } */
/*     .home {
      font-size: var(--medium-large-text);
    }
    h1 {
      font-size: var(--large-text);
    }
    .subtitle {
      font-size: var(--medium-text);
    } */

@media (max-width: 640px) {
  .logo-grid__logo-img {
    max-width: 50px;
    margin: 0 10px;
    max-height: 50px;
  }
  .about-me {
    flex-direction: column;
  }
  .about-me__img {
    max-width: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-me__description {
    text-align: center;
  }
  nav {
    padding: 0 20px;
  }
}
